.personal-protection-section {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    background-image: linear-gradient(to bottom, #f9fafb, #f3f4f6);
}

.image-container {
    position: relative;
    max-width: 55%;
    margin-bottom: 2rem;
    overflow: hidden; /* Para asegurar que la imagen recortada no se desborde */
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center 20%; /* Ajusta la posición vertical de la imagen */
}
  
.hotspot {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
    transition: background-color 0.2s ease;
}

  .hotspot:hover{
    background-color: rgba(0, 0, 255, 0.4);
  }
  
  .tooltip {
    position: absolute;
    z-index: 10; /* Ensure the tooltip is above the hotspots */
    white-space: nowrap; /* Prevent text from wrapping */
  }
